
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.josepalsina.visanotify</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>1000</integer> 
    <!-- 1800 (cada 1/2 hores)-->
    <!-- 54000 (cada 15 hores)-->

    <key>StandardErrorPath</key>
    <string>/Users/josepalsina/bash-projects/visa-notify/logs/error.log</string>

    <key>StandardOutPath</key>
    <string>/Users/josepalsina/bash-projects/visa-notify/logs/out.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/josepalsina/bash-projects/visa-notify</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/josepalsina/bash-projects/visa-notify/run.sh</string>
    </array>

  </dict>
</plist>